{% extends "html.html" %}
{% load webdesign hup_tags %}
{% block body %}
<div class="container">
    {% block header %}
    <header class="span-24 last">

        <img src="{{ STATIC_URL }}img/headergrey.png" style="float:left; margin:0px;" /> 

          <h1> Housing for the Urban Poor</br>From Local Action to Global Networks  </h1>



            <a class="logo" href="http://www.habitat-unit.de/" target="_blank"><img src="{{ STATIC_URL }}img/habitat_unit.png" alt="Habitat Unit Logo"  /></a>
        <a class="logo" href="http://www.tu-berlin.de" target="_blank"><img  src="{{ STATIC_URL }}img/tuberlin.png" alt="TU Berlin Logo"/></a>
         <a class="logo" href="http://www.dfg.de/" target="_blank"><img src="{{ STATIC_URL }}img/dfgneu.png" alt="DFG Logo"  /></a>    

    </header>
    {% endblock %}
    {% block middle %}
    <nav class="span-4">
        <ul>
            <li{% if request.path == "/" %} class="selected"{% endif %}><a href="/">home</a></li>
            <li{% if request.path|startswith:"/news/" %} class="selected"{% endif %}><a href="/news/">news</a></li>
            <li{% if request.path|startswith:"/research/" %} class="selected"{% endif %}><a href="/research/">research</a></li>
            <li{% if request.path|startswith:"/researchers/" %} class="selected"{% endif %}><a href="/team/">team</a></li>
            <li{% if request.path|startswith:"/partners/" %} class="selected"{% endif %}><a href="/partners/">partners</a></li>
            <li{% if request.path|startswith:"/publications/" %} class="selected"{% endif %}><a href="/publications/">publications</a></li>
            <li{% if request.path|startswith:"/forum/" %} class="selected"{% endif %}> <a href="{% url pybb:index %}"/>internal</a></li>
            <li{% if request.path|startswith:"/contact/" %} class="selected"{% endif %}><a href="/contact/">contact</a></li>
        </ul>
     <!--   <a href="http://www.tu-berlin.de" target="_blank"> <img  src="{{ STATIC_URL }}img/TUBerlin_Logo_rot.png" alt="TU Berlin Logo" style="padding-left:20px; "/></a>

        <a href="http://www.dfg.de" target="_blank"> <img src="{{ STATIC_URL }}img/DFG_Logo.png" alt="DFG Logo" style="padding-left:20px; padding-top:20px; "/></a> -->
    </nav>


   

    <section id="content" class="span-19 last" >
        {% block content %}{% endblock %}
    </section>

    {% endblock %}
    <footer class="span-24 last">
       
    </footer>

</div>

{% endblock %}
