
/* Tell the browser to render HTML 5 elements as block */

header, footer, nav, aritcle, aside {
    display:block;
}

body {

   
    background-color : #bac0c0;
    
      
}


nav {
    
    background-color:black;
    

    
}

nav ul {
 
    list-style:none;
}

nav ul li a {
     font-size:20px;
    line-height:44px;
    text-align: left;
    text-decoration: none;
    color:white;
}

nav ul li a:hover{
    color : #FFDE79;
}

nav ul li a:active{
    color : #FFDE79;
}


header {
   
    background-color:black;

   
}

header h1 {
    color:  white;
    text-align: right;
    font-weight: bold;
    font-size:30px;
    padding-top: 7px;
      
}




#content {

    
    font-size:22px;

   
   
    border: 1px solid black;
  

} 

footer {
    float: center;
}



